https://Birbola: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@github.com/Birbola/Telefon.git
vscode://vscode.github-authentication/did-authenticate?windowid=1&code=f54b96f3ae5178b99b9a&state=7de0f9a6-4de2-41c3-8c4a-4c974f9e57a1
out
node_modules